{{ define "main" }}
<div class="main">

  {{ partial "slideshow.html" . }}

  <div class="row">
    <div class="col-md-7">
        <h3>Who are we?</h3>

        <p><i>Polyteknisk Radiogruppe</i> (The Polytechnic Radio Group, PRG) was
          founded in the early 1940’s as a meeting place for radio amateurs. 
          With time, the focus gradually expanded and today we welcome members with a wide
	variety of interests and backgrounds. Whether you want to create autonomous robots, analog amplifiers or wireless home automation systems;
	We welcome everybody with an interests in electronics, computers and radios!

        <p>We have around 40 members coming and going at all days of the
        week. We mainly cater to students at DTU or those that have already
        graduated, but everyone is welcome to join. We meet weekly on
        wednesdays at 17:30, so if you’re curious and want to see what’s going on, stop
        by wednesday evening.</p>


        <p>You can find the <a href="https://www.facebook.com/groups/polytekniskradiogruppe/">PRG in facebook</a> and join to the RadioGrouppe using the <a href="https://bit.ly/3uL9FAm">next link</a>.</p>
        <br>


    </div>

    <div class="col-md-5">
      <h3>Next activities</h3>
      <ul>
        {{ range .Pages }}
          {{ if eq .Section "activities" }}
            {{ range .Pages }}
              {{ if now.Before (time .Params.startDate) }}
                <li><span>{{ dateFormat "02 Jan 2006" .Params.startDate }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
      <p><a href="/activities" class="button">View the activities</a></p>
	    <h3>Blog</h3>
      <ul>
        {{ range .Pages }}
          {{ if eq .Section "blog" }}
            {{ range first 3 (where .Pages "Params.layout" "post") }}
              <li><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
      <p><a href="/blog" class="button">View the blog</a></p>
    </div>
  </div>
  <h4>Highlighted posts</h4>
  <div class="row justify-content-center">
    {{ range .Pages }}
      {{ if eq .Section "blog" }}
        {{ range first 3 (where .Pages "Params.layout" "post") }}
          <div class="col" style="min-width: 300px; max-width: 310px; ">
            <a href="{{ .URL }}">
              {{ if .Params.image }}
                <img src="{{ .Params.image }}" width="100%" alt="">
              {{ end }}
            </a>
            <h4>
              <a href="{{ .URL }}">{{ .Title }}</a>
            </h4>
            <p class="text-justify">
              <!-- {{ split .Summary "." | html }} -->
              {{ $mainSection := split .Summary ". " }}
              {{ index $mainSection 0 | html }}.
              <a href="{{ .URL }}">
                <br>
                Read more
                <!-- <img src="fileadmin/template/images/lista.png"> -->
              </a>
            </p>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

</div>
{{ end }}
