
{{ define "main" }}
  <div class="main" role="main">
    <article class="article about">
      <img src="/about/about.jpg">

      <h1 class="article-title">About</h1>
      <hr class="article-title-bottom">


      <!-- {{ .Content }} -->


      <div class="row">
        <div class="col-md-7">

          <h2>How to find us</h2>

          <p>PRG is a club for all DTU students interested in electronics, radio communication, programming, machine learning and much more!
          The club is located at DTU building 101 E, 1 floor, room 116C. We have a club day every Wednesday at 17:30, where you can meet a board member
          who can help you sign into the club</p>
          
          <p>We can be contacted via e-mail at <a href="mailto:prg@prg.dtu.dk">prg@prg.dtu.dk</a>. <!-- You may also try the phone number +45 77424429, best chance tuesdays (19:00-23:00). --></p>
        </div>
        <div class="col-md-4">

          <h4>Redes sociales</h4>

          {{ partial "social.html" . }}

          <h4>Contact information</h4>

          {{ if (and (.Site.Params.about.location) (.Site.Params.about.postalcode)) }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col-lg">
            {{ .Site.Params.about.location }} {{ .Site.Params.about.postalcode }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.metro }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-subway"></i>
            </div>
            <div class="col-lg">
            {{ .Site.Params.about.metro }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.cvr }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-id-card"></i>
            </div>
            <div class="col-lg">
              CVR number: {{ .Site.Params.about.cvr }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.horario }}
          <div class="row">
            <div class="col-xs">
            <i class="far fa-calendar"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.horario }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.email }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-envelope"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.email }}
            </div>
          </div>
          {{ end }}

          {{ if .Site.Params.about.telefono }}
          <div class="row">
            <div class="col-xs">
            <i class="fas fa-phone"></i>
            </div>
            <div class="col-lg">
              {{ .Site.Params.about.telefono }}
            </div>
          </div>
          {{ end }}

        </div>
      </div>

    </article>
  </div>
{{ end }}
